/* import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond|Gugi|Pacifico|Viaoda+Libre&display=swap');


:root{
    --light-gray:#197aa0a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --gugi:"gugi",cursive;
    --anton:"Anton",sans-serif;
    --pacifico:"Pacifico",cursive;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo img{
    float: left;
    width: 100px;
    height: auto;
}

ul{
    list-style: none;
    float: right;
    margin-top: 25px;
    font-family: var(--anton);
    margin-right: 10px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 10px;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

main{
    max-width: 1200px;
    margin: auto;
}

.title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title span{
    text-transform: uppercase;
    display: block;
}

.text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 30px;
    color: var(--text-color);
}

.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid transparent;
    padding: 10px 30px;
    color: white;
    font-family: var(--anton);
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 10px;
}

.btn:hover{
    background-color: white;
    color: black;
}