/* import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond|Gugi|Pacifico|Viaoda+Libre&display=swap');


:root{
    --light-gray:#197aa0a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --gugi:"gugi",cursive;
    --anton:"Anton",sans-serif;
    --pacifico:"Pacifico",cursive;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo img{
    float: left;
    width: 100px;
    height: auto;
}

ul{
    list-style: none;
    float: right;
    margin-top: 25px;
    font-family: var(--anton);
    margin-right: 10px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 10px;
}

ul li a:hover{
    background-color: var(--text-color);
    color: black;
}

ul li.active a{
    background-color: var(--text-color);
    color: black;
}

main{
    max-width: 1200px;
    margin: auto;
}


@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 6px;
        margin-bottom: -40px;
    }
}

main{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

main{
    background-image: url(./background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.card-container1{
    width: 270px;
    height: 310px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
}

.upper-container1{
    height: 190px;
    background: var(--text-color);
    border-radius: 6px;
    
}

.image-container1{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(80px,100px);
}

.image-container1 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.lower-container1{
    height: 230px;
    background: white;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    border-radius: 6px;
}

.lower-container1 h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}

.lower-container1 h4{
    color: var(--text-color);
    opacity: .6;
    font-weight: bold;
}

.lower-container1 p{
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}



.card-container2{
    width: 270px;
    height: 310px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    
}

.upper-container2{
    height: 190px;
    background: var(--text-color);
    border-radius: 6px;
}

.image-container2{
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
    transform: translate(80px, 100px);
}

.image-container2 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.lower-container2{
    height: 230px;
    background: white;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    border-radius: 6px;
}

.lower-container2 h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}

.lower-container2 h4{
    color: var(--text-color);
    opacity: .6;
    font-weight: bold;
}

.lower-container2 p{
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}

.card-container3{
    width: 270px;
    height: 310px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    
}

.upper-container3{
    height: 190px;
    background: var(--text-color);
    border-radius: 6px;
}


.image-container3{
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transform: translate(80px, 100px);
}

.image-container3 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.lower-container3{
    height: 230px;
    background: white;
    border-radius: 6px;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}

.lower-container3 h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}

.lower-container3 h4{
    color: var(--text-color);
    opacity: .6;
    font-weight: bold;
}

.lower-container3 p{
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}

.footer-section{
    width: 98.7vw;
    display: block;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background-color: var(--text-color);
    height: 190px;
}

.inner-footer .logo-container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner-footer .logo-container img{
    width: 75px;
    float: left;
    height: auto;
}

.inner-footer .footer-third{
    width: 20%;
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner-footer .footer-third:last-child{
    margin-right: 0;
}

.inner-footer .footer-third h1{
    font-family: var(--anton);
    font-size: 22px;
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a{
    font-family: var(--anton);
    font-size: 18px;
    color: black;
    font-weight: 200;
    display: block;
    width: 100%;
    padding: 5px;
}

@media (max-width:900px) {
  .logo {
    width: 100%;
    text-align: center;
    padding: 4% 4%;
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}